body {
    font-family: "Roboto";
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.text_color {
    color: #7a7676;
}

header {
    height: 120px;
    background-color: #ff8000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}



.space {
    padding-left: min(10px, 2%);
}

.content_wrap {
    display: flex;
    flex-direction: row-reverse;
}

main {
    width: calc(100% - 300px);
}

h2 {
    font-family: "Aguafina";
    font-size: 35px;
    margin-top: 0;
    padding-left: min(10px, 2%);
}

.section {
    display: flex;
    flex-direction: column;
}

.color {
    color: #ff8000;
}

.divider {
    height: 2px;
    background-color: #ff8000;
    opacity: 0.4;
    margin-bottom: 20px;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f0f0f0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: min(10px, 2%);
}

.nav_link {
    padding-left: 24px;
    display: flex;
    color: #7a7676;
}

.dishes {
    padding-left: min(10px, 2%);
    padding-right: min(10px, 2%);

}

.dish_overview {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(102, 99, 99, .6);
    padding-left: 1%;
    margin-bottom: 20px;
}

.dish_overview_right_side {
    position: relative;
    width: 40%;
    height: 125px;
}

.dish_name {
    font-family: "Aguafina";
    font-size: 24px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.dish_info {
    margin: 0;
}

footer {
    height: 120px;
    background-color: #ff8000;
}

@media (max-width:800px) {

    #main {
        width: 100%;
    }

    footer {
        display: none;
    }
}

@media (max-width:500px) {

    h1{
        text-align: center;
    }
}