@font-face {
    font-family: "Aguafina";
    src: url(/assets/fonts/Aguafina_Script/AguafinaScript-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Roboto";
    src: url(/assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf) format('truetype');
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    border-radius: 100%;
}

.btn:hover {
    cursor: pointer;

}

header>img {
    height: 80px;
    padding-left: 10px;
}


#restaurant_img_container {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

#restaurant_image {
    height: 250px;
    flex: 1;
    object-fit: cover;
    margin-bottom: 25px;
    position: relative;
    top: 0;
    left: 0;
}

#restaurant_logo {
    height: 144px;
    width: 144px;
    border-radius: 50%;
    position: absolute;
    top: 85%;
    left: 50%;
    translate: -50% -50%;
}

.point {
    height: 34px;
    width: 34px;
}