.d_none {
    display: none;
}

.cart_wrap {
    min-width: 300px;
    
    border-left: 1px solid rgb(102, 99, 99, .6);
    border-right: 8px solid #ff8000;
}

.cart {
    position: sticky;
    top: 0px;
    width: 100%;
    overflow-y: scroll;
}

.cart_header {
    font-family: 'Roboto';
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid rgb(102, 99, 99, .6);
}

.cart_btn {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
}

.cart_icon:hover {
    border-radius: 50%;
    border: 3px solid #ff8000;
    cursor: pointer;
}

.cart_icon {
    background-color: white;
    height: 30px;
    width: 30px;
}

.cart_order {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart_section {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.price_summary {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.get_resp_cart {
    position: sticky;
    bottom: 0;
    background-color: rgb(0, 123, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 122px;
}

.resp_cart_heading {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    opacity: 1;
}

.resp_cart_open_icon {
    height: 48px;
    width: 76px;
}

.resp_cart_open_btn {
    border: none;
    background-color: rgb(0, 123, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resp_cart_open_btn:hover {
    cursor: pointer;
}

@media (min-width:801px) {

    .get_resp_cart {

        display: none;
    }
}

@media (max-width:800px) {

    .cart_wrap {
        display: none;
    }
}